:root{
    --azul: #142B6F;
    --amarillo:#FFD601;
    --gris:#E1DEE6;

}
li{
    
}
.fondo{
    background-color: var(--azul);
    width: 100%;
    height: 100vh;  
    display: flex; 
    padding: 1em;
    padding-left: 0;
    box-sizing: border-box;
}
nav{
    width: 25%;
    max-width: 15em;
    
}
.logo{
    margin: auto;
    text-align: center;
    margin-bottom: 2em;
}
.logo img{
    width: 10em;
}
.logo h3{
    color: white;
    margin: 0;
}
.icono{
    width: 1.5em;
}

nav ul{
    padding-left: 0;
    
}
nav ul li{
    list-style: none;
    border-bottom: 1px solid white;
    border-left:0em none var(--azul);
    width: 100%;;
    
    
}
nav ul li:first-child{
    border-top: 1px solid white;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    display: flex;
    margin: auto;
    align-items: center;
    text-align:center;
    padding: .3em;
    
}

nav ul li a span{
    margin-left: 1em;
    
}
.principal{
    background-color: var(--gris);
    min-width: 85%;
    border-radius: 1em;
    

    
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    padding-left: 1em;
    border-radius: 1em;
}
header .datos_usuarios{
    display: flex;
    justify-content: center;
    align-items: center;

}

header .datos_usuarios a{
    margin-right: 2em;
}
.user{
    text-decoration: none;
    
}
.datos_usuarios .user{
    display: flex;
    align-items: center;
}
.iconoUser{
    width: 3em;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: .5em;

}
.user span h4{
    color: black;
    margin:0;
}
.user span p{
    color: black;
    margin: 0;
    font-size: smaller;
}
