<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/recursos/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/Style.css">
    <title>Administrador</title>
</head>
<body>
    <div class="fondo">
        <!--Navegador-->
        <nav>
            <div class="logo">
                <img src="../static/recursos/logo/LogoSantiagoVila_claro.png" alt=""> 
            </div> 
            <ul>
                <li><a href="#" class="btn-navegador btn-navegador-activo" id="nav-vuelos"><span>Vuelos</span></a></li>
                <li><a href="#" class="btn-navegador " id="nav-aerolineas"><span>Aerolineas</span></a></li>
                <li><a href="#" class="btn-navegador " id="nav-pilotos"><span>Pilotos</span> </a></li>
                <li><a href="#" class="btn-navegador " id="nav-aviones"><span>Aviones</span> </a></li>
            </ul> 
        </nav>
        <div class="principal">
            <!--Cabacera-->
            <header>
                <h1>Itinerarios</h1>
                <div class="buscador">
                    <input type="search" placeholder="Buscar" class="campo-buscar">
                </div>
                <div class="datos_usuarios">                    
                    <a href="#" class="user">
                        <img src="#" alt="" class="iconoUser">
                        <span>
                            <h4>Nombre Usuario</h4>
                            <p>Administrador</p>
                        </span>
                        <div class="datos_personales .datos_personales_oculto">
                            <div>
                                <img src="" alt="">
                                <p>Nombre Usuario</p>
                                <p>Administrador</p>
                            </div>
                            <div class="div">
                                <p>Correo@email.com:</p>
                                <p>Documento</p>
                                <p>Telefono</p>
                                <div><p class="btn_cerrar_sesion">Cerrar sesión</p></div>
                            </div>                                                    
                        </div>
                    </a>                    
                </div>
            </header>
        <!--=========================Buscador y tabla de resultados=====================-->
            <section class="buscador-tabla">
                <article id="tabla-vuelos">
                    <div class="pestanias">
                        <a href="">Llegadas</a>
                        <a href="">Salidas</a>
                    </div>
                    <div class="datos-vuelos" id="vuelos-llegados">
                        <form action="#" >
                            <h4>Buscar vuelo:</h4>
                            <input type="text" placeholder="Vuelos" id="vuelo">
                            <input type="text" placeholder="Origen">
                            <input type="date" placeholder="Fecha de salida">
                            <input type="submit" value="Buscar" class="boton">    
                        </form>
                        <table class="tabla" >
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Vuelo</th>
                                    <th>Aerolineas</th>
                                    <th>Origen</th>
                                    <th>Dia</th>
                                    <th>Hora</th>
                                    <th>Avion</th>
                                    <th>Estado</th>
                                    <th>Sillas</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>                                
                            </tbody>                            
                        </table>
                        <div class="botones-finales">
                            <a href="#" class="boton btn_eliminar" >Eliminar</a>
                            <a href="#" class="boton" id="nuevo-vuelo-1">Nuevo Registro</a>
                        </div>
                    </div>
                    <div class="datos-vuelos oculto" id="vuelos-salida">
                        <form action="#" >
                            <input type="text" placeholder="Vuelos" id="vuelo">
                            <input type="text" placeholder="Origen">
                            <input type="date" placeholder="Fecha de salida">
                            <input type="submit" value="Buscar" class="boton">    
                        </form>
                        <table class="tabla" id="tabla-vuelos-2">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Vuelo</th>
                                    <th>Aereolineas</th>
                                    <th>Destino</th>
                                    <th>Dia</th>
                                    <th>Hora</th>
                                    <th>Avion</th>
                                    <th>Estado</th>
                                    <th>Sillas</th>
                                    <th></th>                                    
                                </tr>
                            </thead>
                            <tbody>                                
                            </tbody>                
                        </table>
                        <div class="botones-finales">
                            <a href="#" class="boton btn_eliminar">Eliminar</a>
                            <a href="#" class="boton" id="nuevo-vuelos-2">Nuevo Registro</a>
                        </div>
                    </div>
                </article>
               
                <div class="datos-vuelos oculto" id="tabla-aerolineas">                    
                    <table class="tabla" >
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>                                
                                <th>Nombre</th>
                                <th>Codigo</th>                                
                                <th>Aviones</th>
                                <th>Logo</th>
                                <th></th>
                                <th></th>                                
                            </tr>
                        </thead>
                        <tbody>
                         </tbody>
                        
                    </table>
                    <div class="botones-finales">
                        <a href="#" class="boton btn_eliminar">Eliminar</a>
                        <a href="#" class="boton" id="nuevo-aerolinea">Nuevo Registro</a>
                    </div>
                </div> 

                <div class="datos-vuelos oculto" id="tabla-pilotos">                    
                    <table class="tabla" >
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>Documento</th>
                                <th>Nombre</th>
                                <th>Apellido</th>                                
                                <th>Aerolinea</th>
                                <th>Telefono</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>                       
                    </table>
                    <div class="botones-finales">
                        <a href="#" class="boton btn_eliminar">Eliminar</a>
                        <a href="#" class="boton" id="nuevo-pilotos">Nuevo Registro</a>
                    </div>
                </div>

                <div class="datos-vuelos oculto" id="tabla-aviones">                    
                    <table class="tabla" >
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>Codigo Avion</th>
                                <th>Fabricante</th>
                                <th>Modelo</th>
                                <th>Aereolinea</th>
                                <th>Sillas</th>
                                <th></th>
                                <th></th>                                
                            </tr>
                        </thead>
                        <tbody>                            
                        </tbody>
                        
                    </table>
                    <div class="botones-finales">
                        <a href="#" class="boton btn_eliminar">Eliminar</a>
                        <a href="#" class="boton" id="nuevo-aviones">Nuevo Registro</a>
                    </div>
                </div>                
            </section>
<!--################################# Ventanas modales ###########################-->
            <div class="fondo-modal">
                <div class="modal oculto editar-vuelo">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <h2>Editar Vuelo</h2>
                    <form  id="editar-vuelo">                        
                        <div class="modal-1">
                            <input type="text" placeholder="Vuelo" name="vuelo" id="editar_vuelo_vuelo">                            
                            <input type="text" placeholder="Destino" name="destino" id="editar_vuelo_destino">
                        </div>
                        <div class="modal-2">
                            <select id="editar_vuelo_aerolinea" name="aerolinea" ></select>
                            <select id="editar_vuelo_avion" name="avion" ></select>
                        </div>
                        <div>                                
                            <input type="date" placeholder="Dia" name="dia" id="editar_vuelo_dia">
                            <input type="time" placeholder="Hora" name="hora" id="editar_vuelo_hora">
                        </div>                        
                        <div>
                            <select id="nuevoVueloEstado" name="estado" id="editar_vuelo_estado">
                                <option value="A tiempo" class="estado_verde">A tiempo</option>
                                <option value="Retrasado" class="estado_naranja">Retrasado</option>
                                <option value="Aterrizó" class="estado_verde">Aterrizó</option>
                                <option value="Despego" class="estado_verde">Despego</option>
                                <option value="Cancelado" class="estado_rojo">Cancelado</option>
                                <option value="Reprogramado"class="estado_amarillo">Reprogramado</option>
                            </select>
                        </div>
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar cambios" class="boton">
                        </span>
                    </form>
                </div>
                <div class="modal oculto editar-vuelo">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <h2>Nuevo Vuelo</h2>
                    <form  id="nuevovuelo">                        
                        <div class="modal-1">
                            <input type="text" placeholder="Vuelo" name="vuelo">                            
                            <input type="text" placeholder="Destino" name="destino">
                        </div>
                        <div class="modal-2">
                            <select id="nuevoVueloAerolineas" name="aerolinea"></select>
                            <select id="nuevoVueloAviones" name="avion"></select>
                        </div>
                        <div>                                
                            <input type="date" placeholder="Dia" name="dia">
                            <input type="time" placeholder="Hora" name="hora">
                        </div>                        
                        <div>
                            <select id="nuevoVueloEstado" name="estado">
                                <option value="atiempo" class="estado_verde">A tiempo</option>
                                <option value="retrasado" class="estado_naranja">Retrasado</option>
                                <option value="aterrizó" class="estado_verde">Aterrizó</option>
                                <option value="despego" class="estado_verde">Despego</option>
                                <option value="cancelado" class="estado_rojo">Cancelado</option>
                                <option value="reprogramado"class="estado_amarillo">Reprogramado</option>
                            </select>
                        </div>
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar" class="boton">
                        </span>
                    </form>
                </div>
                <div class="modal oculto">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <form id="editar-aerolinea">
                        <h2>Editar Aerolinea</h2>
                        <input type="text" placeholder="Nombre" name="nombre" id="editar_aerolinea_nombre">
                        <input type="text" placeholder="Codigo" name="codigo" id="editar_aerolinea_codigo">
                        <input type="text" placeholder="Aviones" name="aviones" id="editar_aerolinea_aviones">
                        <input type="file" aria-label="Archivo" name="logo">
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar Cambios" class="boton">
                        </span>                                  
                    </form>
                </div>
                <div class="modal oculto">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <form id="nuevAerolinea">
                        <h2>Nueva Aerolinea</h2>
                        <input type="text" placeholder="Nombre" name="nombre">
                        <input type="text" placeholder="Codigo" name="codigo">
                        <input type="text" placeholder="Aviones" name="aviones">
                        <input type="file" aria-label="Archivo" name="logo">
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar" class="boton">
                        </span>
                    </form>
                </div>
                <div class="modal oculto">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <form id="editar-pilotos">
                        <h2>Editar Piloto</h2>
                        <div>
                            <input type="text" placeholder="Nombre" name="nombre" id="editar_piloto_nombre">
                            <input type="text" placeholder="Apellido" name="apellido" id="editar_piloto_apellido">
                        </div>
                        <div>
                            <input type="text" placeholder="Documento" name="documento" id="editar_piloto_documento">
                            <input type="tel" placeholder="Telefono" name="telefono" id="editar_piloto_telefono">
                        </div>                          
                        <select name="aerolinea" id="editar_piloto_aerolinea">  
                        </select>
                        <input type="file">
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar cambios" class="boton">
                        </span>
                    </form>
                </div>
                <div class="modal oculto">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <form id="nuevoPiloto">
                        <h2>Nuevo Piloto</h2>
                        <div>
                            <input type="text" placeholder="Nombre" name="nombre">
                            <input type="text" placeholder="Apellido" name="apellido">
                        </div>
                        <div>
                            <input type="text" placeholder="Documento" name="documento">
                            <input type="tel" placeholder="Telefono" name="telefono">
                        </div>                          
                        <select id="selectAerolinea" name="aerolinea">  
                        </select>
                        <input type="file">
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar" class="boton">
                        </span>
                    </form>
                </div>
                <div class="modal oculto">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <form action="">
                        <h2>Editar Avión</h2>
                        <div class="modal-1">
                            <input type="text" placeholder="Avion" name="avion">
                            <select id="selectAerolinea" name="aerolinea"></select>
                            
                        </div>
                        <div class="modal-2">
                            <input type="text" placeholder="Fabricante">
                            <input type="text" placeholder="Modelo" name="modelo">                            
                        </div>
                        <input type="text" placeholder="Sillas">                    
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar cambios" class="boton">
                        </span>  
                    </form>
                </div>
                <div class="modal oculto">
                    <div class="btn-equis">
                        &times;
                    </div>
                    <form id="nuevoAvion">
                        <h2>Nuevo Avión</h2>
                        <div class="modal-1">
                            <input type="text" placeholder="Avion" name="avion">
                            <select id="avionSelectAerolinea" name="aerolinea"></select>
                            
                        </div>
                        <div class="modal-2">
                            <input type="text" placeholder="Fabricante" name="fabricante">
                            <input type="text" placeholder="Modelo" name="modelo">                            
                        </div>
                        <input type="text" placeholder="sillas" name = "sillas">                       
                        <span class="botonera">
                            <input type="reset" value="Descartar" class="boton">
                            <input type="submit" value="Guardar" class="boton">
                        </span>
                    </form>
                </div>
            </div>

            <footer>
                <p>Hecho por : &copy; Jose F Soto</p>
            </footer>
        </div>
    </div>
    <script src="../static/script/controladorVentanas.js"></script>
</body>
</html>