<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .contenedor{
            height: 20em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    </style>
    <div class="contenedor">
        <h1>En construcion</h1>
        <h3>Area de usuario standar</h3>
        <a href="/logout">cerrar sesion</a>
    </div>
    

</body>
</html>