<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/StyleLogin.css">
    <title>Login</title>
</head>
<body>
    <div class="fondo">
        <div class="contenedor">
             <!--_______________________Bienvenida______________________-->
             <div class="bienvenida izquierda">
                 <img src="../static/logo/logo.png" alt="">
                 <h2>bienvenida</h2>
                 <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse molestias voluptatibus rem. Aperiam delectus recusandae ab esse, sapiente sit rerum soluta veritatis nobis expedita totam rem nemo eos? Aliquam, pariatur!</span><span>At ducimus fugiat qui odio maiores eum fuga perferendis vitae ipsam commodi, corporis animi corrupti! Recusandae labore doloremque ullam optio eaque! Non, dolorem natus possimus aut blanditiis consequatur earum explicabo?</span><span>Reprehenderit perferendis ex distinctio nobis illo veniam perspiciatis eaque rerum tempora aliquid omnis quaerat eum explicabo, eos ab vitae commodi mollitia libero soluta quasi, sed aspernatur dolor. Voluptas, laborum omnis?</span></p>  
             </div>
            <!--_________________________Registro________________________-->
            <div class="register">
                <h2>Regístrate ahora</h2>
                <form action="">
                    <div class="botones">
                        <input type="radio" name = "tipo_usuario" value="Usuario">
                        <input type="radio" name = "tipo_usuario" value="Administrador">
                    </div>
                    <div class="textos">
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Apellido">
                    </div>
                    <div class="textos">
                        <input type="password" placeholder="Contraseña">
                        <input type="password" placeholder="Confirmar Contraseña">
                    </div>
                    <div class="textos">
                        <input type="email" placeholder="Correo">
                        <input type="tel" placeholder="Telefono">
                    </div>
                    <div class="textos">
                        <input type="text">
                        <input type="text" placeholder="Documento">
                    </div>
                    <input type="file" value="foto" placeholder="subir foto">
                    <div class="submit">
                        <input type="submit" value="Crear cuenta">
                        <a href="#" class="conmutador">Ya tengo cuenta</a>
                    </div>
                    
            </form>  
            </div>
            <!--_______________________Login______________________-->
            <div class="login">
                <h2>Login</h2>
                <form action="">
                    <input type="text" placeholder="Nombre">
                    <input type="password" placeholder="Contraseña">
                    <div class="submit">
                        <input type="submit">
                        <a href="#" class="conmutador">Quiero registrarme</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/script/contralador.js"></script>
</body>
</html>